# - Вы можете указать ключи через запятую:
#        MOUSER_API_KEYS=key1,key2,key3
#       - Или вы можете указать их каждый на новой строке с порядковым номером:
#        MOUSER_API_KEY_1=key1
#        MOUSER_API_KEY_2=key2
#        MOUSER_API_KEY=key3
MOUSER_API_KEY_1=YOUR_MOUSER_KEY_HERE
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_HERE
ALLOWED_THREAD_ID=YOUR_ALLOWED_THREAD_ID_HERE